<div class="sidebar-container">
  <div class="sidebar-logo">
    Admin OnlyWeebs
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Animes</li>
    <li>
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Recherche
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Ajouter un Anime
      </a>
    </li>

    <li class="header">Blog</li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i> Recherche
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Rédiger un article
      </a>
    </li>

    <li class="header">Utilisateurs</li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i> Recherche
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Commentaires signalés
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Créer un utilisateur
      </a>
    </li>

    <li class="header">Statistiques</li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i> Consulter les statistiques
      </a>
    </li>
  </ul>
</div>

