#all {
  width: 30vw;
  margin-top: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#simpleSearch {
  margin: 0 auto;
}

#input {
  min-width: 25vw;
}

#btn {
  background-color: purple;
  color: white;
}
