<div id="all">
  <form id="simpleSearch" class="form-inline md-form mr-auto mb-4">
    <input id="input" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button id="btn" class="btn purple-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
  </form>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Shojo</a>
      <a class="dropdown-item" href="#">Shonen</a>
      <a class="dropdown-item" href="#">Seinen</a>
      <a class="dropdown-item" href="#">Kodomo</a>
      <a class="dropdown-item" href="#">Manwha</a>
      <a class="dropdown-item" href="#">Manhua</a>
    </div>
  </div>
</div>
