<div class="container">
    <div class="row" id="imgDiv">
        <div class="col">
            <img src="">
        </div>

        <div class="col-6">

            <div class="row">
                <div class="col">
                    <h1>Anime Name</h1>
                </div>
                <div class="col" >
                    <button id="imgAddToList">button</button>
                    <select name="basicList" id="select">
                        <option value="">selection</option>
                        <option value="Watched">Watched</option>
                        <option value="CurrentlyWatching">Currently Watching</option>
                        <option value="PlanToWatch">Plan to watch</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <p>Genre: genre1, genre2, genre3</p>
                <p>tag: tag1, tag2, tag3</p>
            </div>
            <div class="row">
                <h3>Synopsis</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="col" id="divDetails">
            <div class="row">
                <h1 id="Details">Details</h1>
                <p>Studio: StudioName</p>
                <p>Producer: ProducerName</p>
                <p>Release Date: jj/mm/yy</p>
                <p>Japanese Name: japaneseName</p>
            </div>
            <div class="row">
                <h2>Ranking : X/X </h2>
                <h3>Rating : X/5 </h3>
            </div>
        </div>
    </div>

</div>
