<body id="body">
<div id="container">
  <div id="inviteContainer">
    <div class="logoContainer">
      <img class="logo" src="https://cdn.discordapp.com/attachments/773832860674686976/779291384980570112/logo_OW.png" alt="alt"/>
      <img class="text" src="https://media.discordapp.net/attachments/773832860674686976/779298986909237258/OW-LOGO-L.png" alt="alt"/>
    </div>
    <div class="acceptContainer">
      <form>
        <h1>WELCOME BACK!</h1>
        <div class="formContainer">
          <div class="formDiv">
            <p>EMAIL</p>
            <input type="email" required=""/>
          </div>
          <div class="formDiv">
            <p>PASSWSORD</p>
            <input type="password" required=""/><a class="forgotPas" href="#">FORGOT YOUR PASSWORD?</a>
          </div>
          <div class="formDiv">
            <button (click)="onSignin()" class="acceptBtn" type="submit">Login</button><span class="register">Need an account?<a href="register">Register</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
