<p>lists works!</p>
<table id="table" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Utilisateur</th>
    <th scope="col">Titre de la liste</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>NaelMezDeAlfortVilleDu94</td>
    <td>Top 15 des animés avec les meilleurs antagonistes</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>RomainH4ck3rM4n</td>
    <td>Top 69 des meilleurs Hanime</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>imane</td>
    <td>Top 15 des meilleurs shojo</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>xXDarkLoick93Xx</td>
    <td>Top des meilleurs shonen</td>
  </tr>
  </tbody>
</table>
