<body id="body">
<div class="container fill">
    <div class="row testA">
        <div class="col-lg-2 col-md-1 col-sm-1 test">
            <h1>Create your account</h1>
            <form class="container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <p>
                    Username:
                    <input class="owinput" type="text" formControlName="username" placeholder="UserName">
                </p>
                <br>
                <p>
                    Password:
                    <input class="owinput" type="password" formControlName="password" placeholder="PassWord">
                </p>
                <br>
                <p>
                    First Name:
                    <input class="owinput" type="text" formControlName="firstname" placeholder="First Name">
                </p>
                <br>
                <p>
                    Last Name:
                    <input class="owinput" type="text" formControlName="lastname" placeholder="Last Name">
                </p>
                <br>
                <p>
                    Email:
                    <input class="owinput" type="text" formControlName="email" placeholder="Email">
                </p>
                <br>
                <p>
                    Gender:
                    <input class="owinput" type="text" formControlName="gender" placeholder="Gender">
                </p>
                <br>
                <button class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>

