<body id="body">
<div class="container fill">
    <div class="row testA">
        <div class="col-lg-2 col-md-1 col-sm-1 test">
            <h1>Create your account</h1>
            <form class="container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <input class="owinput" type="text" formControlName="username" placeholder="Username">
                <br>
                <input class="owinput" type="password" formControlName="password" placeholder="Password">
                <br>
                <input class="owinput" type="text" formControlName="firstname" placeholder="First Name">
                <br>
                <input class="owinput" type="text" formControlName="lastname" placeholder="Last Name">
                <br>
                <input class="owinput" type="email" formControlName="email" placeholder="Email">
                <br>
                <input class="owinput" type="text" formControlName="gender" placeholder="Gender">
                <br>
                <button class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>

