#container {
}

#box {
    max-width: 30vw;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: rgba(40, 43, 48, .75);
}

label {
    color: #e3e3e3;
}

#disclaimerPhone {
    color: red;
}

#reqFields {
    color: red;
}

#divGender {
    text-align: center;

}

h2 {
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.owinput {
    background: transparent;
    border: none;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    padding: 15px 0;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    transition: 0.2s ease;

}

.owinput:focus {
    box-shadow: inset 0 -2px 0 #fff;
}

.owinput:-webkit-autofill {
    background: transparent;
}

.owinput:-webkit-autofill,
.owinput:-webkit-autofill:hover,
.owinput:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
}
