<div class="container text-center" id="list_title"> <h3> Test </h3> </div>

<div class="container">
<table class="table table-dark">
  <thead class="thead-light">
  <tr>
    <th>Rang</th>
    <th>Animé</th>
    <th>Nombre d'épisodes vus</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let l of list; let i=index">
    <td>{{i+1}}</td>
    <td>{{l.name}}</td>
    <td>{{l.seen}}/{{l.total}}</td>
    <td><a href=""> X </a></td>
  </tr>
  </tbody>

</table>
</div>

<div class="container w-50"  id="reviews">
  <div id="review_title" class="container text-center"><h6>Reviews</h6></div>
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
  </ul>
</div>
<br>

